.user-profile {
  display: flex;
  width: 100%;

  &__info {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;

    &__profile-icon {
      img {
        width: 100px;
        height: 100px;
      }
    }

    &__profile-data {
      display: inline-flex;
      flex-direction: column;
      gap: 1em;
    }
  }
}
