.app {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  // Prevents from horizontal scrolling
  // if content is larger that the screen
  grid-template-columns: minmax(0, 1fr);

  &__content {
    display: flex;
    margin: 1em 1em;
  }
}
