@use '/src/sharedStyles/abstracts/index.scss' as *;

.transactions {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  gap: 1em;

  &__filters {
    display: inline-flex;
  }

  &__main-content {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;

    &__list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1em;
    }
  }
}
