.footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  padding: 10px 0;
  text-align: center;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;

  &__content {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__text {
    font-size: 14px;
    margin: 10px 0;
  }

  &__links {
    margin-top: 10px;
  }

  &__link {
    display: inline-flex;
    align-items: center;

    color: var(--footer-text);
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;

    gap: 0.3em;

    &:hover {
      color: var(--footer-link-hover);
    }

    &:focus {
      outline: none;
    }
  }
}
