@use '/src/sharedStyles/abstracts/index.scss' as *;

.transaction-item {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;

  border-left: 0.1rem solid $lightGray;

  &--income {
    border-right: 0.5rem solid $darkEmerald;
  }

  &--expense {
    border-right: 0.5rem solid $brightRed;
  }

  &__description {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__main-info {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
