@use '/src/sharedStyles/abstracts/index.scss' as *;

.login-page {
  display: flex;
  max-width: 400px;
  max-height: 400px;
  flex-direction: column;
  justify-content: center;
  gap: 1em;

  margin-top: 1rem;

  padding: 0 1rem;

  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &__label {
    display: inline-flex;
    justify-content: center;
  }

  &__signup-container {
    display: inline-flex;
    justify-content: center;
  }
}
