<footer class="footer">
  <div class="footer__content">
    <p class="footer__text">
      &copy; {{ currentYear }} nankoviliya. All Rights Reserved.
    </p>
    <div class="footer__links">
      <a
        href="https://google.com"
        target="_blank"
        rel="noopener noreferrer"
        class="footer__link"
      >
        Portfolio
        <i class="pi pi-external-link"></i>
      </a>
      <a
        href="https://github.com/nankoviliya"
        target="_blank"
        rel="noopener noreferrer"
        class="footer__link"
      >
        GitHub
        <i class="pi pi-github"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/iliya-nankov/"
        target="_blank"
        rel="noopener noreferrer"
        class="footer__link"
      >
        LinkedIn
        <i class="pi pi-linkedin"></i>
      </a>
    </div>
  </div>
</footer>
