$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 100%);

$lightGray: hsla(0, 0%, 80%, 1);

$royalBlue: hsla(221, 83%, 53%, 1);
$royalBlueHover: hsla(224, 76%, 48%, 1);

$darkEmerald: hsla(142, 76%, 36%, 1);
$darkEmeraldHover: hsla(142, 72%, 29%, 1);
