@use '/src/sharedStyles/abstracts/index.scss' as *;

.user-profile-data-container {
  display: inline-flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid transparent;
  transition: border 0.3s ease;
  border-radius: 4px;

  &:hover {
    border-color: $lightGray;
    cursor: text;
  }
}
