.user-profile-data {
  display: inline-flex;
  flex-direction: column;
  gap: 1em;

  &__navigation-buttons {
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
  }
}
