@use '/src/sharedStyles/abstracts/index.scss' as *;

.home {
  display: flex;
  gap: 1em;

  &__services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    margin: 2em;

    @include Tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include Mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
