.register-page {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  justify-content: center;
  gap: 1em;

  margin-top: 1rem;

  padding: 0 1rem;
  padding-bottom: 1rem;

  background-color: var(--surface-card);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;

  &__label {
    display: inline-flex;
    justify-content: center;
  }

  &__form {
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;

    &__section {
      display: inline-flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__login-container {
    display: inline-flex;
    justify-content: center;
  }
}
