@use '/src/sharedStyles/abstracts/index.scss' as *;

.expense-tracking {
  display: inline-flex;
  flex-direction: column;
  gap: 1em;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    @include Tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include Mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
