# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Restore dependencies
        run: dotnet restore ./src/backend/LifeSync.slnx
      - name: Build
        run: dotnet build --no-restore ./src/backend/LifeSync.slnx
      - name: Test
        run: dotnet test --no-build --verbosity normal ./src/backend/LifeSync.slnx
        env:
          ASPNETCORE_ENVIRONMENT: Development
          DOCKER: "false"
          DB_USER: "postgres"
          DB_PASSWD: "YourStrongPassword123!"
          DB_HOST: "localhost"
          DB_PORT: "5432"
          DB_NAME: "LifeSync_Test"
          JWT_SECRET_KEY: "test-secret-key-for-integration-tests-minimum-32-characters-long"
          JWT_ISSUER: "LifeSyncApp"
          JWT_AUDIENCE: "LifeSyncAppUsers"
          JWT_EXPIRY_MINUTES: "60"
